# Dependencies
/node_modules
/vendor
/bin
package.json
package-lock.json
composer.json
composer.lock
composer.patches.json
.size-snapshot.json

# Drupal
/app/sites
/app/core
/app/modules/contrib
/app/themes/contrib
/app/profiles/contrib
/app/libraries
/app/README.md

# Build
/app/storybook
